.home {
    width: 100%;
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.home img {
    height: 500px;
}

.home p{
    font-size: 3rem;
    font-weight: bold;
   margin-bottom: 1.5rem;
}

.home span{
    font-size: 3rem;
    color: var(--blue);
}

.btn {
    width: 250px;
    height: 50px;
    border-radius: 8px;
    border: none;
    font-size: 1.125rem;
    font-weight: bold;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn_blue {
    background-color: var(--blue);
    color: var(--white);
    
}

.btn_blue:hover {
    background-color: var(--secondary);
}



/* media query para telas menores que 768px */

@media(max-width: 768px) {
    .home {
        flex-direction: column;
        gap: 1rem;
    }

    .home img {
        height: 300px;
    }

    .home p {
        font-size: 1.5rem;
    }

    .home span {
        font-size: 1.5rem;
    }

    .btn {
        width: 200px;
        height: 40px;
        font-size: 1rem;
        
    }
}

/* media query para telas menores que 425px */

@media(max-width: 480px) {
    .home {
        flex-direction: column;
        gap: 1rem;
    }

    .home img {
        height: 200px;
    }

    .home p {
        font-size: 1.5rem;
    }

    .home span {
        font-size: 1.5rem;
    }

    .btn {
        width: 150px;
        height: 30px;
        font-size: .7rem;
    }
}
